header, main, footer {
    max-width: 100%;
    width: 100%;
}
header{
    background-image: url("../media/background.png");
}
section{
    padding: 50px 0;
}
body{
    min-width: 320px;
    margin: auto;
}
a, p, h1, h2, h3, h4, button, input{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #333333;
    margin: auto;
    padding: 0;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
label{
    display: block;
}
.wrapper .main {
    flex: 1;
}
.header,
.footer {
    flex-shrink: 0;
}
.mw{
    max-width: 1110px;
    margin: auto;
}
.left-right{
    max-width: 1015px;
    margin: auto;
}
.btn{
    background: #FB9475;
    border-radius: 24px ;
    border: #FB9475;
    text-align: center;
    color: #FFFFFF;
    font-weight: 500;
}
.btn:hover{
    transition: .5s background-color;
    background: #fc8466;
    cursor: pointer;
}
.full{
    background-color: #F8F6F7;
}
.link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-items: center;
    background-color: rgba(0,0,0,0.5);
    border-radius: 8px;
    color: #fff;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    text-align: center;
}
.link:hover{
    opacity: 0.8;
}
.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.logo{
    margin-top: 30px;
}
.logo a{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}
.navigation, .tabs__navigation{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
.navigation ul li, .tabs__navigation ul li, .brands ul li{
    display: inline;
}
.navigation li:not(:last-child), .tabs__active li:not(:last-child){
    margin-right: 28px;
}
.navigation{
    margin-top: 36px;
}
.navigation__active{
    margin: 0;
    font-size: 14px;
}
.navigation a:hover, .tabs__active a:hover{
    color: #00BF78;
    transition: .5s;
}
.information{
    margin-top: 30px;
    text-align: end;
}
.information__phone{
    font-weight: 500;
    font-size: 18px;
}
.information__time{
    font-size: 11px;
    margin-top: 8px;
}
.hero{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.hero__content{
    margin-top: 126px;
}
.hero__title{
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    margin: auto;
}
.hero__subtitle{
    font-size: 20px;
    line-height: 24px;
    margin: auto;
    padding-top: 17px;
}
.hero__btn{
    margin-top: 59px;
    padding: 17px 30px;
    line-height: 14px;
    max-width: 203px;
    height: auto;
    font-size: 14px;
}
.hero__media{
    max-width: 524px;
    height: auto;
    margin: 17px 63px 0 0;
}
.hero__girl{
    display: block;
}
.hero__social{
    margin-top: 171px;
}
.hero__social li:not(:last-child){
    margin-bottom: 18px;
}
.about__information{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.about__title{
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    padding-bottom: 32px;
}
.about__subtitle{
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 16px;
}
.about__subtitle-button{
    font-size: 16px;
    line-height: 26px;
    margin: 0;
}
.video__blackout{
    height: 296px;
    position: relative;
    display: block;
    background-size: cover;
    background-position: center;
}
.video__img{
    width: 100%;
    height: 296px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.video__link{
    line-height: 24px;
}
.benefit {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 26px;
    text-align: center;
}
.benefit__title{
    font-weight: 600;
    font-size: 18px;
    margin: 28px 0 12px 0;
}
.benefit__subtitle{
    font-size: 14px;
    line-height: 22px;
}
.services__info, .benefit__icon{
    width: 350px;
    height: auto;
}
.services__box-1, .services__box-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.services__title{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 32px;
}
.benefit__icon:not(:last-child), .info-1:not(:last-child), .info-2:not(:last-child){
    margin-right: 30px;
}
.info-1{
    padding-bottom: 48px;
}
.services__subtitle{
    padding: 20px 0 4px;
}
.services__text{
    padding: 4px 0 16px;
    line-height: 20px;
    font-size: 12px;
}
.services__btn{
    width: 112px;
    height: 34px;
    font-size: 12px;
}
.tabs{
    padding: 32px 0 19px 0;
}
.price__title{
    font-weight: 700;
    font-size: 48px;
}
.tabs a{
    font-weight: 500;
    font-size: 14px;
}
.tabs a:hover, .tabs a:focus{
    border-bottom: 2px solid #00BF78;
    padding-bottom: 6px;
}
.name{
    margin-right: 76px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.name__box{
    width: 444px;
    display: flex;
    justify-content: space-between;
}
.name__left{
    max-width: 313px;
}
.name__right{
    white-space: nowrap;
}
.name__title{
    font-weight: 500;
    font-size: 18px;
    padding-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
}
.name__subtitle{
    font-size: 14px;
}
.name__box{
    padding-top: 32px;
}
.name__price{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    float: right;
    color: #00BF78;
}
.masters{
    padding: 80px 0;
}
.masters__info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.masters__container:not(:last-child){
    margin-right: 30px;
}
.masters__title {
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 32px;
}
.masters__subtitle{
    font-size: 16px;
    padding-bottom: 24px;
}
.masters__box{
    display: block;
    position: relative;
    margin-bottom: 20px;
}
.masters__img{
    display: block;
    position: relative;
}
.masters__name{
    position: relative;
}
.masters__fest-name{
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 8px;
}
.masters__specialties{
    font-size: 14px;
    padding-bottom: 20px;
}
.masters__experience{
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
}
.gallery__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 51px;
}
.gallery__title{
    margin: 0;
    font-weight: 700;
    font-size: 48px;
}
.btn__next, .btn__prev{
    background-color: #FFFFFF;
    color: #00BF78;
    font-size: 25px;
    height: 40px;
    width: 40px;
    border-width: 0;
    border-radius: 50px;
    cursor: pointer;
}
.btn__next:hover, .btn__prev:hover{
    transition: all 0.5s ease-in-out;
    background: #F8F6F7;
}
.gallery__gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery__blackout{
    width: 338px;
    height: 338px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    position: relative;
    cursor: pointer;
}
.gallery__blackout:hover{
    transition: all 0.7s ease-in-out;
    transform: scale(1.1);
    border-radius: 8px;
}
.gallery__loop{
    margin-bottom: 8px;
}
.gallery__img:not(:last-child){
    margin-right: 29px;
}
.brands{
    display: block;
    max-width: 1110px;
    height: auto;
}
.brands__text{
    text-align: center;
    font-size: 16px;
    margin-bottom: 40px;
}
.brands__icon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.brands__img{
    width: 160px;
    height: auto;
}
.brands__img img{
    opacity: 0.4;
}
.brands__img:not(:last-child){
    margin-right: 31px;
}
.contact__left-right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px 0;
}
.contact__left{
    padding-top: 38px;
}
.reference__title > h1{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 32px;
}
.reference__phone{
    margin: 20px 0;
}
.reference__street, .reference__phone, .reference__email{
    font-size: 16px;
}
.reference__email, .form__politic-text, .footer__politic-text{
    text-decoration: underline;
}
.mail-to, .form__politic-text, .footer__politic-text{
    color: #278AFF;
}
.reference__subtitle{
    margin: 32px 0 11px 0;
}
.reference__social-all{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.reference__social-icon:not(:last-child){
    margin-right: 26px;
}
.form{
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
.form__text, .form__action{
    width: 100%;
}
.form__title{
    font-weight: 600;
    font-size: 18px;
}
.form__subtitle{
    font-size: 14px;
    margin: 15px 0 35px 0;
}
.form__button{
    width: 100%;
    height: 48px;
    font-weight: 500;
    font-size: 14px;
}
.form__name, .form__phone{
    display: block;
    width: 100%;
    height: 44px;
    padding-left: 16px;
    color: #A0A0A0;
    border-radius: 8px;
    border: 1px solid #D8D8D8;
    font-size: 14px;
}
.form__name:focus, .form__phone:focus {
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}
.form__phone{
    margin: 20px 0;
}
.form__politic{
    margin-top: 16px;
    font-weight: 300;
    font-size: 12px;
}
.footer{
    margin-top: -50px;
}
.footer__block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
.footer__politic, .footer__title{
    font-size: 12px;
}
.footer__politic{
    margin-top: 8px;
}
.navigation__footer{
    margin-top: 0;
}

/* ------------------------------MEDIA--------------------------- */

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
    display: none;
}

/* Large Devices, Wide Screens */
@media screen and (max-width: 1440px){
    .gallery__gallery{justify-content: flex-start;flex-wrap: nowrap; overflow: scroll;}
}
@media screen and (max-width: 1110px){
    .hero__media{display: none;}
    .hero, .name{justify-content: space-around;}
    .masters__container{margin: 0 30px 10px 0}
    .services__box-1, .services__box-2{flex-wrap: wrap; justify-content: center;}
    .masters__info{justify-content: center;}
    .masters__subtitle{text-align: center;}
    .gallery__container{justify-content: center}
    .title{text-align: center;}
    .btn__slider{display: none;}
}
/* Medium Devices, Desktops */
@media screen and (max-width: 992px) {
    .brands__icon{justify-content: flex-start;flex-wrap: nowrap; overflow: scroll;}
    .about__information{justify-content: center;}
    .video__blackout{margin-top: 15px;}
    .name{justify-content: center; margin-right: 0}
}
/* Small Devices, Tablets */
@media screen and (max-width: 810px){
    .tabs{overflow: scroll; white-space: nowrap;}
/*    .masters__container:not(:last-child){margin: 0 10px 0 0}*/
}
@media screen and (max-width: 770px) {
    .benefit__icon:not(:last-child), .info-1:not(:last-child), .info-2:not(:last-child){margin-right: 0}
    .benefit__icon:not(:first-child){margin: 15px 0 0 0}
    .benefit{flex-direction: column; align-items: center}
    .contact__left-right{justify-content: center;}
    .contact__right{margin-top: 15px;}
    .services__box-1,.services__box-2{align-items: center;justify-content: center; flex-direction: column;}
    .info-2:not(:last-child){padding-bottom: 48px;}
    .masters__info{flex-wrap: wrap; flex-direction: column; align-content: center;}
    .masters__name{text-align: center;}
    .reference{text-align: center;}
    .reference__social-all{justify-content: center;}
}
@media screen and (max-width: 640px) {
    .footer__block{flex-direction: column-reverse;}
    .footer__information{margin-top: 8px; display: flex; flex-direction: row; align-items: center;}
    .footer__politic{margin-top: 0}
    .footer__title{margin-right: 10px}

}
/* Extra Small Devices, Phones */
@media screen and (max-width: 580px) {
    /* На 580 сделать hamburger */
    .hero__content, .hero__social{margin: 0;padding-top: 20px;}
    .hero__subtitle{text-align: center;}
    .hero__btn{display: flex;}
    .hero__social{margin: 0;align-items: center;}
    .hero__social ul{display: flex;}
    .hero__social li:not(:last-child){margin-right:18px;}
    .navigation-top{order: 0;}
    .logo{order: 1;}
    .information{order: 2;}
    .benefit{padding-top: 0;}
    .masters__container{display: flex; align-items: center;}
    .masters__container:not(:last-child){margin-right: 0}
    .masters__name{text-align: left; margin-left: 8px;}
}
@media screen and (max-width: 520px) {
    .hero__title{text-align: center}
    .name{justify-content: center; margin-right: 0;}
}
/* Custom, iPhone Retina */
@media screen and (max-width: 320px) {
}
